body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fcfcfd; }

html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
button,
fieldset,
textarea {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  line-height: inherit;
  border-width: 0;
  outline: none; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* stylelint-disable */
  background: linear-gradient(120deg, #56ccf2 0%, #56ccf2 78%, #fcfcfd 68%, #fcfcfd 100%);
  /* stylelint-enable */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 48px 0 0; }
  .header__logo {
    width: 53px;
    height: 32px; }
  .header__button {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    margin-top: 42px;
    margin-bottom: 12%; }
    .header__button--is-active:hover {
      background-color: #2f80ed;
      color: #fff; }
  .header__slider {
    background-size: cover;
    -webkit-transition: background 1500ms ease;
    transition: background 1500ms ease; }

@media (min-width: 320px) and (max-width: 1599px) {
  .header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5px;
    background: #56ccf2; }
    .header__top {
      width: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0; }
    .header__heading {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

#mobile__btn--open {
  display: none;
  color: #fff;
  font-size: 50px; }

#mobile__btn--close {
  display: none;
  color: #fff;
  font-size: 50px; }

@media (min-width: 320px) and (max-width: 1180px) {
  #mobile__btn--open {
    display: block; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 558px; }
  .nav__list--rotare {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: absolute;
    bottom: 310px;
    right: -275px;
    width: 415px; }

.nav__link {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%; }
  .nav__link--dark {
    color: #253757;
    margin-left: 30px; }
  .nav__link--slider-link {
    font-weight: 800;
    font-size: 13px;
    line-height: 150%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #253757; }
  .nav__link--action {
    position: relative; }
    .nav__link--action::after {
      display: block;
      content: "";
      height: 4px;
      border-radius: 32px;
      width: 54px;
      position: absolute;
      bottom: -5px;
      /* stylelint-disable */
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      /* stylelint-enable */
      -webkit-transition: width 0.3s;
      transition: width 0.3s; }
  .nav__link--is-active {
    position: relative; }
    .nav__link--is-active::after {
      display: block;
      content: "";
      height: 4px;
      border-radius: 32px;
      width: 0;
      position: absolute;
      bottom: -5px;
      /* stylelint-disable */
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      /* stylelint-enable */
      -webkit-transition: width 0.3s;
      transition: width 0.3s; }
    .nav__link--is-active:hover::after {
      width: 100%; }

@media (min-width: 320px) and (max-width: 1180px) {
  .nav__link--top {
    font-size: 20px; }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    display: none;
    position: absolute;
    top: 65px;
    background-color: rgba(0, 0, 0, 0.7); } }

@media (min-width: 320px) and (max-width: 1599px) {
  .nav__link--slider-link {
    color: #fff; }
  .nav__list--rotare {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    position: absolute;
    top: 0;
    right: 0;
    color: #fff; } }

@media screen and (min-width: 1181px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.heading__title {
  margin-top: 85px;
  font-weight: 900;
  font-size: 64px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 22px; }

.heading__description {
  font-size: 24px;
  line-height: 150%;
  color: #fff; }

@media (min-width: 320px) and (max-width: 1180px) {
  .heading__title {
    text-align: center;
    margin-top: 0; }
  .heading__description {
    text-align: center; } }

.button {
  width: 226px;
  height: 56px;
  background: #fff;
  border-radius: 64px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
  color: #253757;
  cursor: pointer; }
  .button--blue {
    background: #2f80ed;
    color: #fff;
    -webkit-transition: background 1s ease;
    transition: background 1s ease; }
    .button--blue:hover {
      border: 2px #2f80ed solid;
      background: #fff;
      color: #2f80ed; }

.slider__button {
  width: 10%;
  height: 15%;
  /* stylelint-disable */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
  /* stylelint-enable */
  color: #fff; }
  .slider__button--left {
    position: absolute;
    top: 45%;
    left: 0%;
    border-radius: 0 50px 50px 0; }
  .slider__button--right {
    position: absolute;
    top: 45%;
    left: -9%;
    border-radius: 50px 0 0 50px; }

.slider__wrapper {
  display: block;
  position: relative; }

.slider__title {
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
  position: absolute;
  top: 70%;
  left: 10%; }

.slider__description {
  font-style: normal;
  font-weight: 900;
  font-size: 19.6px;
  line-height: 140%;
  color: #fff;
  position: absolute;
  top: 85%;
  left: 10%; }

.slider__img {
  height: 640px;
  width: 1146px; }

.slider__container {
  width: 1146px;
  height: 100%;
  position: relative;
  overflow: hidden; }

.slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  overflow: hidden;
  -webkit-transition: left 2s ease;
  transition: left 2s ease; }

.fa-angle-double-right {
  display: none; }

@media (min-width: 320px) and (max-width: 900px) {
  .slider__description {
    font-size: 8px; }
  .slider__title {
    font-size: 8px; } }

@media (min-width: 320px) and (max-width: 1180px) {
  .slider__button {
    width: 10%;
    height: 15%; } }

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .section__welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .section__img {
    width: 21px;
    height: 21px;
    left: 423px;
    top: 1334px;
    /* stylelint-disable */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28.57%, rgba(255, 255, 255, 0.25)), color-stop(42.86%, rgba(255, 255, 255, 0)));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 28.57%, rgba(255, 255, 255, 0) 42.86%);
    /* stylelint-enable */
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .section__img--white {
      /* stylelint-disable */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(28.57%, white), color-stop(42.86%, white));
      background: linear-gradient(180deg, white 28.57%, white 42.86%);
      /* stylelint-enable */ }
  .section__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
  .section__text {
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;
    margin-left: 16px; }
    .section__text--white {
      color: #fff; }
  .section__description {
    width: 742px;
    margin-top: 19px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #253757; }
  .section__action {
    width: 561px;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #253757;
    margin-top: 136px; }
  .section__cards {
    margin-top: 136px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%; }
  .section__block-wrapper {
    width: 362px; }
  .section__process {
    margin-top: 322px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
  .section__slogan {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757;
    margin-top: 19px; }
  .section__info {
    font-size: 16px;
    line-height: 150%;
    color: #334563;
    mix-blend-mode: normal;
    text-align: justify;
    margin-top: 64px; }
  .section__features {
    margin-top: -232px; }
  .section__form {
    margin-top: 128px; }
  .section__footer {
    margin: 136px 0 83px; }

@media (min-width: 320px) and (max-width: 1180px) {
  .section__welcome {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto; }
  .section__description {
    width: inherit;
    text-align: center;
    padding: 5px; }
  .section__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5px; }
  .section__title {
    margin: 5px; }
  .section__action {
    width: inherit;
    margin: 5px; }
  .section__block-wrapper {
    width: 100%; }
  .section__process {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0; }
  .section__features {
    margin-top: 0; }
  .section__slogan, .section__info {
    padding: 10px;
    text-align: center; }
  .section__form {
    margin: 10px; }
  .section__footer {
    position: relative;
    margin: 0; } }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .card__img {
    width: 160px;
    height: 160px;
    border-radius: 50%; }
  .card__title {
    font-weight: 900;
    font-size: 19.6px;
    line-height: 140%;
    color: #253757;
    margin-top: 64px; }
  .card__content {
    margin-top: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #334563;
    mix-blend-mode: normal; }

@media (min-width: 320px) and (max-width: 900px) {
  .card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .card__title {
      text-align: center; }
    .card__content {
      text-align: center; } }

@media (min-width: 901px) and (max-width: 1180px) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .card :nth-child(2) {
      padding: 0 10px; }
    .card__title, .card__content {
      margin-top: 0; } }

.process-cards > :nth-child(1),
.process-cards > :nth-child(2) {
  margin-bottom: 128px; }

.process-cards__item {
  width: 240px;
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
          box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02); }
  .process-cards__item--down {
    margin-top: 105px; }

.process-card__circle {
  position: absolute;
  top: 48px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  /* stylelint-disable */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#56ccf2), to(#56ccf2)), #c4c4c4;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #56ccf2, #56ccf2), #c4c4c4;
  /* stylelint-enable */
  opacity: 0.2;
  z-index: 0; }
  .process-card__circle--green {
    /* stylelint-disable */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#03d542), to(#03d542)), #d4d4d4;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #03d542, #03d542), #d4d4d4;
    /* stylelint-enable */
    opacity: 0.2; }
  .process-card__circle--yellow {
    /* stylelint-disable */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
    /* stylelint-enable */
    opacity: 0.2; }
  .process-card__circle--red {
    /* stylelint-disable */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
    /* stylelint-enable */
    opacity: 0.2; }

.process-card__number {
  z-index: 1;
  margin-top: 64px;
  font-weight: 900;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2; }
  .process-card__number--green {
    color: #03d542; }
  .process-card__number--yellow {
    color: #fcc304; }
  .process-card__number--red {
    color: #f25656; }

.process-card__text {
  width: 176px;
  height: 80px;
  font-size: 12.6px;
  line-height: 150%;
  text-align: center;
  color: #253757;
  mix-blend-mode: normal; }

@media (min-width: 320px) and (max-width: 1180px) {
  .process-cards {
    margin: 0 auto; }
    .process-cards > :nth-child(1),
    .process-cards > :nth-child(2) {
      margin: 5px; }
    .process-cards__item {
      float: left; }
      .process-cards__item--down {
        margin-top: 0;
        float: left; }
  .process-card {
    width: 150px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
    .process-card__text {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      font-size: 10px;
      text-align: center;
      color: #253757;
      mix-blend-mode: normal; } }

.features {
  background: url("../images/features/Rectangle.png") no-repeat right, #56ccf2;
  height: 976px;
  z-index: 10; }
  .features__container {
    padding-top: 227px;
    padding-left: 125px; }
  .features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 69px; }

.item__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  mix-blend-mode: normal;
  margin-left: 32px; }

@media (min-width: 320px) and (max-width: 1180px) {
  .features {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
    .features__container {
      padding: 5px; }
    .features__item {
      margin-top: 30px; }
  .item__text {
    font-size: 10px; } }

.testimonials__container {
  padding-left: 125px;
  padding-top: 227px; }

.testimonials-card {
  width: 314px;
  height: 464px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
          box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05); }
  .testimonials-card__img {
    margin-top: 97px;
    width: 90px;
    height: 119px;
    background-size: cover;
    z-index: 10; }
  .testimonials-card__behind {
    /* stylelint-disable */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
    /* stylelint-enable */
    border-radius: 500px;
    width: 164px;
    height: 64px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    position: relative;
    z-index: -2;
    left: 10px;
    top: 155px; }
    .testimonials-card__behind--yellow {
      /* stylelint-disable */
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      /* stylelint-enable */ }
    .testimonials-card__behind--red {
      /* stylelint-disable */
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
      /* stylelint-enable */ }
  .testimonials-card__content {
    font-style: italic;
    font-weight: normal;
    font-size: 14.4px;
    line-height: 150%;
    text-align: center;
    color: #253757;
    mix-blend-mode: normal;
    margin-top: 8px; }
  .testimonials-card__line {
    width: 64px;
    height: 2px;
    /* stylelint-disable */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
    /* stylelint-enable */
    border-radius: 500px;
    -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
            transform: matrix(1, 0, 0, -1, 0, 0);
    margin-top: 31px; }
    .testimonials-card__line--yellow {
      /* stylelint-disable */
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      /* stylelint-enable */ }
    .testimonials-card__line--red {
      /* stylelint-disable */
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
      /* stylelint-enable */ }
  .testimonials-card__name {
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #152032;
    margin-top: 31px; }
  .testimonials-card__position {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2; }
    .testimonials-card__position--yellow {
      color: #fcc304; }
    .testimonials-card__position--red {
      color: #f25656; }

.testimonials-cards__container {
  margin-top: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .testimonials-cards__container > :nth-child(2),
  .testimonials-cards__container > :nth-child(3) {
    margin-left: 78px; }

@media (min-width: 320px) and (max-width: 1180px) {
  .testimonials__container {
    padding: 10px; }
  .testimonials-cards__container {
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .testimonials-cards__container > :nth-child(2),
    .testimonials-cards__container > :nth-child(3) {
      margin-left: 0; }
  .testimonials-card {
    width: 280px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; } }

.result {
  padding: 0 67px;
  height: 608px;
  background: url("../images/result/vps-bg-1.svg") no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .result__head {
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #253757; }
  .result__content {
    margin-top: 57px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #334563;
    margin-bottom: 55px; }

@media (min-width: 320px) and (max-width: 1180px) {
  .result {
    padding: 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: url("../images/result/vps-bg-1.svg") 100% 100% no-repeat; } }

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 97px;
  padding: 0 227px; }

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.contact__action {
  font-weight: 800;
  font-size: 13px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #334563;
  margin-top: 43px; }

.contact__info {
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2; }

.contact__list {
  width: 375px; }

.contact__network {
  margin-top: 53px; }
  .contact__network img:nth-child(2),
  .contact__network :nth-child(3) {
    margin-left: 48px; }

@media (min-width: 320px) and (max-width: 1180px) {
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    padding: 5px; }
  .contact__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contact__network {
    margin: 10px auto; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__button {
    margin-top: 105px; }

.input {
  border-bottom: 1px solid  #e1e1e1;
  font-weight: bold;
  font-size: 14.4px;
  line-height: 150%;
  color: #152032;
  width: 500px;
  height: 40px;
  background: #fcfcfd;
  padding-top: 10px; }

@media (min-width: 320px) and (max-width: 1180px) {
  .input {
    width: 100%; }
  .form__button {
    margin: 10px auto; }
  .form__fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 227px; }

@media (min-width: 320px) and (max-width: 1180px) {
  .footer {
    padding: 10px; }
    .footer__copyright {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      left: -80px;
      position: absolute;
      font-size: 14px; } }

@media screen and (min-width: 1800px) {
  html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  body {
    max-width: 1800px;
    min-width: 319px; }
  .header {
    background: #56ccf2; } }

/*# sourceMappingURL=main.css.map */
